<div class="comments-box">
  <p class="commentator">
    <%= comment.commenter %>
  </p>
  <div class="comment-text">
    <p class="commentator-comment">
      <%= comment.message %>
    </p>

    <p class="destroy-comment">
      <%= link_to 'Destroy Comment', [comment.post, comment],
                  :confirm => 'Are you sure?',
                  :method => :delete %>
    </p>
  </div>
</div>