<div class="comments-box">
  <p class="commentator">
    <%= User.find(comment.user_id).username %>
  </p>
  <div class="comment-text">
    <p class="commentator-comment">
      <%= comment.message %>
    </p>

    <p class="destroy-comment">
      <% if user_signed_in? && current_user.id == comment.user_id  %>
        <%= link_to 'Destroy Comment', [comment.post, comment],
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      <% end %>
    </p>
  </div>
</div>