<div class="posts">
  <div class="container">
    <div class="header-post">
      <div class="nav">
        <%= link_to 'Show Post', @post %>
        <%= link_to 'Back to Posts', posts_path %>
      </div>
    </div>

    <%= render 'form', post: @post %>

  </div>
</div>
