<div class="posts">
  <div class="container">
    <div class="posts-header">

    </div>

<!--    <div class="category">-->
      <%# Category.where(display_in_navbar: true).each do |cat| %>
        <%#= link_to cat.name, request.params.merge(category: cat.id) %>
      <%# end %>

      <%#= link_to "Reset", posts_path %>


      <%# User.all.each do |user| %>
<!--        <%#= link_to user.username, request.params.merge(user: user.id)  %> |-->
      <%# end %>
<!--    </div>-->

    <div class="card-posts">
      <% @posts.each do |post| %>
        <div class="card-post">
          <%= react_component 'A_tourCard', {title: post.title, description: post.description, image: post.image.thumb.url}%>
          <div class="card-post-btn">
            <%= react_component 'A_priceTag', {price: post.price, color: '#4F6DDB' }%>
            <%= react_component 'A_blueButton', {id: post.id}%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>