<div class="posts">
  <div class="container">
    <div class="header">
      <div class="logo">New Post</div>
      <div class="nav">
        <ul>
          <li><%= link_to 'Back', posts_path %></li>
        </ul>
      </div>
    </div>

    <%= render 'form', post: @post %>

  </div>
</div>