<<<<<<< Updated upstream
<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
=======
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li>О нас</li>
        <li>Промо</li>
      </ul>
    </nav>
    <h1>О нас</h1>
    <p>Наш сервис создан для тех путешественников, которым также, как и нам не нравятся экскурсии с толпами людей, ограниченностью передвижения и скованности по времени. </p>
    <p>— Но ведь находить места для посещения
    и отдыха самостоятельно порой бывает очень сложно!</p>
    <p>— В нашем приложении, местные жители или опытные туристы сами составят для вас маршрут, в который будут включены лучшие заведения, достопримечательности, и даже гостиницы</p>
    <p>— А если мне не подойдет предложенный маршрут? Например я не люблю шумные, тусовочные места и терпеть не могу пьяные компании. Я просто хочу насладится видами и тишиной.</p>
    <p>— Маршрутов будет много и все они будут разделены на категории по интересам и стоимости. У каждого маршрута будет своя оценка и отзывы.</p>
    <img src="app/assets/images/1.png" alt="">
    <img src="app/assets/images/2.png" alt="">
    <img src="app/assets/images/3.png" alt="">


  </body>
</html>
>>>>>>> Stashed changes
