.post-blue-btn {
  display: flex;
  align-items: center;
  background: #fff;
  border: 3px solid #4F6DDB;
  border-radius: 10px;
  a {
    display: block;
    padding: 17px 18px;
    color: #4F6DDB;
    font-size: 32px;
    text-decoration: none;
  }
}