/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #EDEDED;
}
.header-to-login {
    background: #1c1c1c;
    color: white;
}
.header-to-login a {
    color: white;
}
.container {
    max-width: 1770px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    height: 100%;
}
.container-header {
    max-width: 1770px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    height: 100%;
}
.header {
    background: #4F6DDB;
}
.header[data-react-class="M_header"] {
    height: 100%;
}
.header .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header .header-row .left {
    display: flex;
    align-items: center;
}
.header .header-row__logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.header .header-row__link-list {

}
.header .header-row ul {
    display: flex;
}
.header .header-row ul li {
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 36px;
}
.header .header-row ul li:last-child {
    margin-right: 0;
}
.header .header-row ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    color: white;
    border-radius: 25px;
}
.header .header-row ul li .new-post {
    background: #3265e8;
    color: white;
}
.header .header-row ul li .new-post:hover {
    background: #4f7ff1;
}
.header-row__authentication {
    display: flex;
    align-items: center;
}
.header-row__authentication a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.notice {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px 15px;
    margin: 20px;
    background: #8ddc95;
    border: 1px solid #0d5f15;
}
.header .button {
    padding: 12px 18px;
    border-radius: 10px;
    border: 5px solid transparent;
    margin: 0 10px;
}
.header .button-sign-in {
    background: transparent;
    border: 3px solid #fff
}
.header .button-sign-up {
    background: #fff;
    border: 3px solid #fff;
    color: #4F6DDB;
}
.header .button-username {
    padding: 12px 18px;
    border-radius: 10px;
    border: 3px solid #fff;
    color: #fff;
}
.header .user-avatar {
    width: 71px;
    height: 71px;
    background: url("profileAvatar.svg");
    margin-left: 25px;
}
