.authorization, .registration {
  .links {
    margin-top: 50px;
    text-align: center;
    a {
      display: block;
      color: #5B5B5B;
      text-decoration: none;
      margin-bottom: 25px;
    }
  }
  input::-webkit-input-placeholder { color: #5B5B5B; }
  display: flex;
  height: 100vh;
  overflow: hidden;
  .left {
    width: 50%;
    a {
      img {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50px;
        left: 50px;
      }
    }
    img {
      width: 100%;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 115px;
    h2 {
      font-size: 48px;
      margin-bottom: 75px;
    }
    .inputs {
      input {
        width: 350px;
        border: none;
        border-bottom: 2px solid #4F6DDB;
        padding: 12px 57px;
        font-size: 18px;
        outline: none;
        margin-bottom: 50px;
      }
    }
    .log-in-btn, .registration-btn {
      input {
        border-radius: 38px;
        padding: 10px 60px;
        color: #fff;
        border: none;
        background: #4F6DDB;
        font-size: 28px;
        font-weight: bold;
      }
    }
  }
}