.posts {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .title-text {
      font-size: 32px;
      font-weight: bold;
    }
    .title-category {
      a {
        color: black;
      }
    }
  }
  .category {
    display: flex;
    max-height: 100px;
    overflow-y: scroll;
    scroll-behavior: auto;
    flex-wrap: wrap;
    a {
      text-decoration: none;
      margin: 2px;
      color: white;
      background: #1c1c1c;
      padding: 3px 8px;
    }
  }
  .box-change {
    .row {
      display: flex;
      margin-bottom: 20px;
      .field {
        margin-right: 15px;
        label {
          display: block;
        }
        input {
          max-width: 300px;
          height: 30px;
          padding: 5px;
          border: 1px solid #cbcbcb;
          border-radius: 5px;
        }
        select {
          max-width: 300px;
          width: 185px;
          height: 30px;
          padding: 5px;
          border: 1px solid #cbcbcb;
          border-radius: 5px;
          background: none;
        }
      }
    }
  }
  .card-posts {
    display: flex;
    flex-wrap: wrap;
    .card-post {
      width: 20%;
      .card-box {
        margin: 5px;
        border: 1px solid black;
        padding: 5px;
        border-radius: 10px;
        .up-info {
          display: flex;
          justify-content: space-between;
          .reviews-rating {
            display: flex;
            align-items: flex-end;
            .up-info__rating {
              font-size: 14px;
              font-weight: bold;
              margin-right: 5px;
            }
            .up-info__reviews {
              font-size: 10px;
              text-decoration: underline;
            }
          }
          .up-info__username {
            font-size: 12px;
            color: #7A7A7A;
          }
        }
        .about-tour-info {
          margin-top: 10px;
          font-size: 12px;
          margin-bottom: 10px;
          .about-tour-info__city {
            font-size: 24px;
            font-weight: 600;
          }
          .about-tour-info__time-by-pass {
            margin-bottom: 30px;
          }
        }
        .price-info {
          .price-info__price {
            font-size: 20px;
          }
        }
        .admin-change {
          display: flex;
          justify-content: space-between;
          border-top: 1px solid #dcdcdc;

          .change {
            width: 100%;
            text-align: center;
            a {
              color: black;
            }
            &:nth-child(2) {
              border-right: 1px solid #dcdcdc;
              border-left: 1px solid #dcdcdc;
            }
          }
        }
      }
    }
  }
  .header-post {
    text-align: right;
    .nav {
      display: flex;
      margin-bottom: 20px;
      a {
        padding-right: 15px;
        padding-left: 15px;
        text-decoration: none;
        color: black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}