.posts {
  .category {
    display: flex;
    max-height: 100px;
    overflow-y: scroll;
    scroll-behavior: auto;
    flex-wrap: wrap;
    a {
      text-decoration: none;
      margin: 2px;
      color: white;
      background: #1c1c1c;
      padding: 3px 8px;
    }
  }
  .card-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card-post-btn {
      display: flex;
      margin-top: 20px;
    }
  }
  .show-box {
    margin-top: 60px;
    .post-header {
      .post-information {
        display: flex;
        .image {
          width: 600px;
          height: 500px;
          border-radius: 30px 0 0 30px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .post-info-box {
          margin-left: 35px;
          .post-t-p-r {
            display: flex;
            .outside-border {
              margin-right: 30px;
            }
            .image {
              width: 72px;
              height: 72px;
              background: url("/assets/home/rating-green.svg");
              background-size: cover;
              font-size: 26px;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 0;
            }
          }
          .post-c-t-l {
            margin-top: 17px;
            display: flex;
            font-size: 18px;
            color: #4F4F4F;
            img {
              margin-right: 10px;
            }
            .time-by-pass {
              display: flex;
              align-items: center;
              margin-left: 35px;
            }
            .shows {
              margin-left: 35px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
          }
          .post-author {
            display: flex;
            align-items: center;
            margin-top: 17px;
            img {
              margin-right: 16px;
            }
            .author-username {
              font-size: 24px;
              font-weight: bold;
              margin-right: 16px;
            }
            a {
              display: block;
              padding: 12px 18px;
              background: #fff;
              border: 3px solid #000;
              font-size: 26px;
              border-radius: 10px;
              color: #000;
              text-decoration: none;
            }
          }
          .likes-favorites {
            margin-top: 17px;
            display: flex;
            .like {
              padding: 10px 20px;
              font-size: 20px;
              border-radius: 10px;
              border: 3px solid #4F6DDB;
            }
            input, a {
              cursor: pointer;
              background: #4F6DDB;
              padding: 10px 20px;
              font-size: 20px;
              border-radius: 10px;
              margin-left: 12px;
              color: #fff;
              border: 3px solid #4F6DDB;
            }
            .edited {
              display: flex;
              a {
                display: block;
                text-decoration: none;
                background: #2F8B67;
                border: 3px solid #fff;
              }
            }
          }
        }
      }
    }
    .post-content {
      margin-top: 100px;
      .outline-place {
        display: inline-block;
        background: #fff;
        border: 5px solid #000;
        color: #000;
        font-size: 28px;
        font-weight: bold;
        padding: 15px 11px;
        box-shadow: 0 0 0 5px #fff;
        border-radius: 10px;
        text-transform: uppercase;
        margin: 5px;
      }
      .day {
        margin-bottom: 85px;
        position: relative;
        .day-circle {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            background: #4F6DDB;
            width: 8px;
            height: 80px;
            left: -59px;
            top: -40px;
            z-index: -1;
          }
        }
        &::before {
          content: '';
          position: absolute;
          background: #fff;
          width: 25px;
          height: 25px;
          border: 7px solid #4F6DDB;
          border-radius: 25px;
          left: -64px;
        }
        &::after {
          content: '';
          position: absolute;
          background: #4F6DDB;
          width: 8px;
          height: 100%;
          left: -48px;
          z-index: -1;
        }
      }
      .place-box {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          background: #4F6DDB;
          width: 8px;
          height: 100px;
          left: -39px;
          top: -100px;
          z-index: -1;
        }
        &::after {
          content: '';
          position: absolute;
          background: #4F6DDB;
          width: 8px;
          height: 100%;
          left: -39px;
          top: 0;
          z-index: -1;
        }
        .time {
          font-size: 18px;
          margin-bottom: 20px;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            background: #fff;
            width: 25px;
            height: 25px;
            border: 7px solid #4F6DDB;
            border-radius: 25px;
            left: -55px;
            top: -10px;
          }
          span {
            font-weight: bold;
          }
        }
        .rating-green,
        .rating-red,
        .rating-yellow {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
        }
        .place-info {
          .place-name-rating {
            display: flex;
            margin-bottom: 20px;
            .place-name {
              margin-right: 30px;
            }

            .place-rating {
              width: 72px;
              height: 72px;
              background: url("/assets/home/rating-green.svg");
              background-size: cover;
              font-size: 26px;
            }
          }
          .place-additionally {
            display: flex;
            align-items: center;
            font-size: 18px;
            div {
              margin-right: 35px;
            }
            .place-street {
              display: inline-block;
              background: #4F6DDB;
              border: 5px solid #fff;
              color: #fff;
              font-size: 12px;
              font-weight: bold;
              padding: 18px 11px;
              box-shadow: 0 0 0 5px #4F6DDB;
              border-radius: 8px;
              text-transform: uppercase;
              margin: 5px;
            }
            .place-telephone {
              margin-left: 35px;
            }
            .place-opening {
              font-weight: bold;
              display: flex;
              align-items: center;
              img {
                margin-right: 15px;
              }
            }
            .place-site {
              font-weight: bold;
              display: flex;
              align-items: center;
              img {
                margin-right: 15px;
              }
              a {
                color: #000;
              }
            }
          }

        }
        .place-gallery {
          height: 100%;
          width: 100%;
          margin-top: 50px;
          display: flex;
          justify-content: space-between;
          border-radius: 30px;
          overflow: hidden;
          .image-2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
        .place-about {
          display: flex;
          justify-content: space-between;
          margin-top: 50px;
          .place-text {
            max-width: 1300px;
            h1 {
              font-size: 36px;
              margin-bottom: 50px;
            }
            .place-title {
              font-weight: bold;
              font-size: 24px;
              margin-bottom: 10px;
            }
            .place-description {
              font-size: 24px;
              p {
                margin-bottom: 10px;
              }
            }
          }
          .place-booking {
            height: 100%;
            padding: 16px 75px;
            background: #4F6DDB;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
              font-size: 36px;
              color: #fff;
              margin-bottom: 10px;
            }
            .place-booking-price {
              margin-bottom: 20px;
            }
            a {
              display: block;
              color: #fff;
              padding: 12px 18px;
              border-radius: 10px;
              border: 3px solid #fff;
              text-decoration: none;
            }
          }
        }
        .place-footer {
          display: flex;
          margin-top: 50px;
          .outline-second {
            background: #fff;
            display: inline-block;
            padding: 15px;
            border-radius: 10px;
            border: 5px solid #000;
            text-transform: uppercase;
            align-items: center;
            font-weight: bold;
          }
          .place-categories {
            display: flex;
            .place-category {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              width: 33.33%;
              margin-right: 25px;
              .circle-red {
                border: 10px solid #E9454F !important;
              }
              .circle-green {
                border: 10px solid #2F8B67 !important;
              }
              .circle-blue {
                border: 10px solid #4F6DDB !important;
              }
              .category-circle {
                margin-bottom: 10px;
                width: 150px;
                height: 150px;
                background: #fff;
                border: 10px solid #E9454F;
                border-radius: 100px;
                font-size: 38px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          .place-comments {
            margin-right: 25px;
            .comment-title {
              display: flex;
              margin-bottom: 25px;
              .comment-rating {
                width: 40px;
                height: 40px;
                font-size: 14px;
                background: url("/assets/home/rating-green.svg");
                background-size: cover;
                margin-left: 15px;
                margin-right: 15px;
              }
              .comment-all {
                font-weight: normal;
                border: 2px solid #000;
                padding: 10px 12px;
                font-size: 18px;
                color: #000;
                text-decoration: none;
              }
            }
            .comment {
              margin-bottom: 26px;
              .comment-info {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                .commentator {
                  font-size: 24px;
                  font-weight: bold;
                  margin-left: 10px;
                  margin-right: 10px;
                }
              }
              .comment-content {
                max-width: 560px;
                font-size: 18px;
              }
            }
          }
          .place-map {
            border-radius: 30px;
            background: #4F6DDB;
            height: 100%;
            .place-map-image {
              width: 560px;
              height: 200px;
              background: url("/assets/mapp.jpg");
              display: flex;
              align-items: flex-end;
              justify-content: center;
              a {
                font-weight: normal;
                border: 2px solid #000;
                padding: 10px 12px;
                font-size: 18px;
                color: #000;
                text-decoration: none;
                margin-bottom: 10px;
              }
            }
            .place-map-info {
              padding: 35px 20px;
              color: #fff;
              .place-map-address {
                display: flex;
                margin-bottom: 30px;
                .place-map-street {
                  display: inline-block;
                  background: #fff;
                  border: 5px solid #000;
                  color: #000;
                  font-size: 12px;
                  font-weight: bold;
                  padding: 18px 11px;
                  box-shadow: 0 0 0 5px #fff;
                  border-radius: 10px;
                  text-transform: uppercase;
                  margin: 5px;
                }
                .place-map-telephone {
                  margin-left: 35px;
                  font-size: 18px;
                }
              }
              .place-map-additionally {
                display: flex;
                align-items: center;
                font-size: 18px;
                color: #fff;
                .place-map {
                  display: flex;
                  align-items: center;
                  margin-right: 20px;
                }
                .place-map-site {
                  display: flex;
                  align-items: center;
                  a {
                    display: block;
                    color: #fff;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
.new-posts {
  margin-bottom: 50px;
  .field {
    margin-top: 25px;
  }
  input, select {
    background: #fff;
    border: 3px solid #4F6DDB;
    border-radius: 10px;
    font-size: 18px;
    padding: 16px 22px;
    outline: none;
    color: #4F6DDB;
  }
}