@font-face {
  font-family: 'Open Sans Bold';
  src: url("OpenSans-Bold.ttf");
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url("OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'TTcommons bold';
  src: url("TTCommons-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans Regular", sans-serif;
}

.bg {
  height: 1024px;
  .center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.title {
  color: white;
  font-family: 'TTcommons bold', sans-serif;
  font-size: 72px;
}
.bg-1 {
  background: url("bg-1.jpg");
  background-size: cover;
}
.bg-2 {
  background: url("bg-2.jpg");
  background-size: cover;
}
.bg-3 {
  background: url("bg-3.jpg");
  background-size: cover;
}
.bg-4 {
  background: url("bg-4.jpg");
  background-size: cover;
}

.bg-5 {
  background: url("bg-5.jpg");
  background-size: cover;
  .form-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    .title {
      padding-top: 280px;
    }
    .footer {
      ul {
        display: flex;
        justify-content: flex-end;
        li {
          list-style: none;
          margin-left: 57px;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

}
.container {
  max-width: 1110px;
  margin: 0 auto;
  height: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    width: 100%;
    height: 75px;
    color: white;
    max-width: 1024px;
    .logo {
      font-size: 32px;
      font-family: 'Open Sans Bold', sans-serif;
    }
    .nav {
      padding-bottom: 9px;
      ul {
        display: flex;
        li {
          list-style: none;
          a {
            text-decoration: none;
            padding: 5px 15px;
            color: white;
            &:hover {
              background: rgba(224, 224, 224, 0.1);
              border-radius: 25px;
            }
          }
        }
      }
    }
  }
}
